html,
body,
header,
#intro {
    height: 100%;
}
.rede:hover {
    
    color:red;
  
}

#intro {
    
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://firebasestorage.googleapis.com/v0/b/gruppe2swe-a7f9b.appspot.com/o/images%2Fhalia%20landing.jpg?alt=media&token=fe15be5a-7014-42f1-bc0b-6deffbf5cd8e")no-repeat center center fixed;
    height: 100vh;
    position: relative;
    background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  
  
}
